  body{
      background-color: rgba(112, 212, 242, 0.9);
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcXXWhkajLGENRC4_7EPTU3CPzf4tVgmLvXg&s);


      background-repeat: repeat-y;
  }